<ion-view view-title="Unsecured landing page" hide-back-button="true">
	<ion-content>
		<h4>Hello from unsecured landing page</h4>
		<div class="card">
			<div class="item item-divider">
				<button class="button button-block button-assertive" ng-click="getUnsecuredData('Mr. MFP')">Get unsecured data</button>
			</div>
			<div class="item item-text-wrap">
				This is the result from MFP invocation: {{hello}}
			</div>
			<div class="item item-divider">
				<button class="button button-block button-assertive" ng-click="getSecuredData()">Get secured data</button>
			</div>
		</div>
	</ion-content>
</ion-view>